.classpath
.project
.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
.settings/org.eclipse.core.resources.prefs
bin/com/walk/start/Application.class
bin/
.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/
/build/
.gradle/
